<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <!---->
    <add name="DB" connectionString="data source=127.0.0.1;initial catalog=fileUpload;persist security info=True;user id=sa;password=abc123;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="fileUpload.Properties.Settings.fileUploadConnectionString"
      connectionString="Data Source=DESKTOP-0001;Initial Catalog=fileUpload;Persist Security Info=True;User ID=sa;Password=abc123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
