<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="dbModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DB.dbModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Test" connectionString="data source=127.0.0.1;initial catalog=fileUpload;persist security info=True;user id=sa;password=abc123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="data source=127.0.0.1;initial catalog=fileUpload;persist security info=True;user id=sa;password=abc123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
